@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-pane{
  background-color: #666;
  color: #fff;
  font-family: 'Fira Code', monospace;
}

.pane{
  height: 50vh;
  display: flex;
}

.editor-container{
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem .5rem 1rem .5rem;
  background-color: #666;
  font-family: 'Fira Code', monospace;
  height: 100%;

}

.editor-container.collapsed{
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll{
  position: absolute;
  overflow: hidden !important;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: #111;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: .5rem .5rem 0 0;
}

.CodeMirror{
  height: 100% !important;
}

.code-mirror-wrapper{
  flex-grow: 1;
  border-radius: 0rem 0rem .5rem .5rem;
  overflow: hidden;
}

.bottom-pane{
  height: calc(48vh - 60px);
  border-radius: .5rem;
  border: 4px dashed #666;
  margin: .5rem;
  background-color: #fafafa;
}

.expand-collapse-btn{
  margin-left: .5rem;
  cursor: pointer;
  outline: none;
 
}

.navbar{
  height: 60px;
  background-color: #111;
  display: flex;
  align-items: center;
  font-family: 'Fira Code', monospace;
  justify-content: space-between;
  color: #fff;
}

.navbar h5{
  margin-left: 1rem;
  font-size: 22px;
}

.navbar p{
  margin-right: 1rem;
  font-style: italic;
  font-size: 14px;
  letter-spacing: -1px;
}
